/* base.css */
.custom-navbar {
    background-color: #000 !important; /* Fondo negro, !important asegura que se sobrescriba cualquier otro estilo */
}

.custom-navbar .nav-link {
    color: #fff !important; /* Texto blanco, !important asegura la sobrescritura */
}

.custom-navbar .nav-link:hover {
    color: #ccc !important; /* Color gris claro al pasar el cursor por encima */
}
