@font-face {
    font-family: 'apple';
    src: url('../media/font/MYRIADPRO-BOLD.OTF') format('truetype');
}

.titulosCarrusel {
    font-family: 'apple', sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.23;
}

.videoBanner {
    position: relative; 
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.videoBanner video {
    max-width: 88%; 
    max-height: 88%;
    width: auto;
    height: auto;
}

.videoLogoLink {
    position: absolute; 
    top: 20px; 
    left: 200px; 
    z-index: 3; 
}

.videoLogo {
    width: 120px;
    height: auto;
    fill: #ffffff; 
}

.videoText {
    position: absolute; 
    top: 80%;
    left: 10%;
    color: #ffffff;
    max-width: 35%; 
    text-align: left;
    z-index: 2; 
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
}

.freeTrialButton {
    background-color: #ffffff;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.freeTrialButton:hover {
    background-color: #e0e0e0;
}

.smallText {
    font-size: 0.9rem;
    color: #ffffff;
}

.videoControls {
    position: absolute;
    bottom: 20px;
    right: 140px;
    display: flex;
    gap: 10px;
    z-index: 2; 
}

.videoControls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.videoControls button:focus,
.videoControls button:active {
    outline: none;
    border: none;
}

.videoControls img {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.videoControls img:focus,
.videoControls img:active {
    outline: none;
    border: none;
}
