{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">

    <style>
        body {
            background-color: #302c2c;
        }

        header {
            background-color: #343a40;
            color: white;
            padding: 20px;
        }

        footer {
            background-color: #343a40;
            color: white;
            padding: 10px;
            text-align: center;
        }

        .card {
            margin: 10px;
            opacity: 0.9;
        }

        .card-img-top {
            height: 300px;
            object-fit: cover;
            padding: 1px;
        }
    </style>
    <title>{% block title %}Django Peliculas{% endblock %}</title>

</head>

<body>


    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container d-flex justify-content-between align-items-center">
            <!-- Botón de menú responsive -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Elementos del centro: Apple TV+ y MLS -->
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'pagina_principal' %}">Apple TV+</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MLS</a>
                    </li>
                </ul>
            </div>
            <!-- Botón de Iniciar/Cerrar Sesión alineado a la derecha -->
            <div class="ml-auto">
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary btn-sm d-flex align-items-center">
                        <svg fill="#ffffff" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff" style="width: 20px; height: 20px; margin-right: 5px;">
                            <path d="M 27.9999 51.9063 C 41.0546 51.9063 51.9063 41.0781 51.9063 28 C 51.9063 14.9453 41.0312 4.0937 27.9765 4.0937 C 14.8983 4.0937 4.0937 14.9453 4.0937 28 C 4.0937 41.0781 14.9218 51.9063 27.9999 51.9063 Z M 27.9999 35.9922 C 20.9452 35.9922 15.5077 38.5 13.1405 41.3125 C 9.9999 37.7968 8.1014 33.1328 8.1014 28 C 8.1014 16.9609 16.9140 8.0781 27.9765 8.0781 C 39.0155 8.0781 47.8983 16.9609 47.9219 28 C 47.9219 33.1563 46.0234 37.8203 42.8593 41.3359 C 40.4921 38.5234 35.0546 35.9922 27.9999 35.9922 Z M 27.9999 32.0078 C 32.4999 32.0547 36.0390 28.2109 36.0390 23.1719 C 36.0390 18.4375 32.4765 14.5 27.9999 14.5 C 23.4999 14.5 19.9140 18.4375 19.9609 23.1719 C 19.9843 28.2109 23.4765 31.9609 27.9999 32.0078 Z"></path>
                        </svg>
                        Iniciar Sesión
                    </a>
                {% endif %}
            </div>
        </div>
    </nav>
    
    
    
    
        
    <div class="container-fluid">

        <main>
            {% block content %}{% endblock %}
        </main>
    
    </div>    
    <!-- Agrego los scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% include '_footer.html' %}

</body>

</html>