{% extends "componentes/header.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'login.css' %}?v=1.0">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} Login {% endblock %}
</head>

<body>
    {% block content %}
    <div class="mainLogin">
        <div class="support-section">
            <div class="header">
                <img src="{% static 'img/applelogo.png' %}" alt="Apple TV logo" class="logo2" style="width: 150px; height: auto;">
            </div>
        </div>

        {% if user.is_authenticated %}
        <!-- Redirigir si el usuario ya está autenticado -->
        <script>window.location.href = '/Inicio/{{ user.id }}';</script>
        {% else %}
        <h2>Iniciar sesión</h2>
        <form id="Formulario" method="POST">
            {% csrf_token %}
            <!-- Renderizar los campos del formulario de inicio de sesión -->
            {{ form.as_p }}
            <input value="Iniciar Sesión" type="submit">
        </form>
        <p>¿Aun no tienes cuenta? <a href="{% url 'register' %}">Registrate ya!</a></p>
        {% endif %}
    </div>
    {% endblock %}
</body>
</html>
