{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

<!-- Incluyendo los carouseles -->
{% include '_carousel.html' with title="Todas las Series" carousel_id="todasSeriesCarousel" items=series %}
{% include '_carousel.html' with title="Últimos Estrenos 2024" carousel_id="ultimosEstrenosCarousel" items=ultimos_estrenos %}
{% include '_carousel.html' with title="Nuestro Asombroso Planeta" carousel_id="documentalesCarousel" items=documentales %}
{% include '_carousel.html' with title="Todas las Películas" carousel_id="todasPeliculasCarousel" items=todas_peliculas %}
{% include '_carousel.html' with title="Comedia: Todas las Series" carousel_id="seriesComediaCarousel" items=series_comedia %}
{% include '_carousel.html' with title="No Ficción: Todas las Series" carousel_id="seriesNoFiccionCarousel" items=series_no_ficcion %}
{% include '_carousel.html' with title="Todo para Toda la Familia" carousel_id="contenidoFamiliarCarousel" items=contenido_familiar %}




<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
{% endblock %}
