{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 style="color: white;">Gestion Peliculas</h2>
</div>




<div class="table-responsive" style="background-color: white;">
    <table class="table table-bordered table-striped text-center">
        <thead class="thead-dark">
            <tr>
                <th>Afiche</th>
                <th>Nombre</th>
                <th>Género</th>

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pelicula in peliculas %}
            <tr>
                <td class="align-middle">
                    {% if pelicula.imagen %}
                    <img src="{{ pelicula.imagen.url }}" alt="{{ pelicula.nombre }}"
                        style="max-width: 180px; max-height: 230px;">
                    {% else %}
                    <img src="{% static images/not-found.jpg}" alt="">
                    {% endif %}
                </td>
                <td class="align-middle">{{ pelicula.nombre }}</td>
                <td class="align-middle">{{ pelicula.genero }}</td>

                <td class="align-middle">
                    <a href="{% url 'editar-pelicula' id=pelicula.id %}" class="btn btn-warning btn-sm"><i
                            class="fas fa-pencil-alt"></i> </a>
                    <a href="{% url 'eliminar-pelicula' id=pelicula.id %}" class="btn btn-danger btn-sm"
                        onclick="return confirm('¿Estás seguro de que deseas eliminar a {{ pelicula.nombre }}?')"><i
                            class="fas fa-times"></i></a>
                    <a href="{% url 'pelicula-detail' id=pelicula.id %}" class="btn btn-info btn-sm"><i
                            class="fas fa-eye"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
