

{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5" style="background-color: rgb(21, 53, 157); border-radius: 5px;">
        <h2 class="mb-4 text-white">{% if form.instance.id %}Editar{% else %}Crear{% endif %} Película</h2>

    <form method="post" enctype="multipart/form-data" class="my-form">

      {% csrf_token %}

      <div class="mb-3">
        <label for="{{ form.sucursal.id_for_label }}" class="form-label text-white">Sucursal de la cadena:</label>
        {{ form.sucursal }}
      </div>

      <div class="mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label text-white">Nombre de la película:</label>
        {{ form.nombre }}
      </div>

      <div class="mb-3">
        <label for="{{ form.genero.id_for_label }}" class="form-label text-white">Género:</label>
        {{ form.genero }}
      </div>

      <div class="mb-3">
        <label for="{{ form.clasificacion.id_for_label }}" class="form-label text-white">Clasificación:</label>
        {{ form.clasificacion }}
      </div>

      <div class="mb-3">
        <label for="{{ form.duracion.id_for_label }}" class="form-label text-white">Duración (minutos):</label>
        {{ form.duracion }}
      </div>

      <div class="mb-3">
        <label for="{{ form.resena.id_for_label }}" class="form-label text-white">Reseña:</label>
        {{ form.resena }}
      </div>

      <div class="mb-3">
        <label for="{{ form.sala.id_for_label }}" class="form-label text-white">Sala en la que se exhibe:</label>
        {{ form.sala }}
        {% for error in form.sala.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="mb-3">
        <label for="{{ form.fecha_exhibicion.id_for_label }}" class="form-label text-white">Fecha de la exhibición:</label>
        {{ form.fecha_exhibicion }}
      </div>

      <div class="mb-3">
        <label for="{{ form.hora_exhibicion.id_for_label }}" class="form-label text-white">Hora de la exhibición:</label>
        {{ form.hora_exhibicion }}
      </div>

      <div class="mb-3">
        <label for="{{ form.valor_ticket.id_for_label }}" class="form-label text-white">Valor del ticket:</label>
        {{ form.valor_ticket }}
      </div>

      <div class="mb-3">
        <label for="{{ form.imagen.id_for_label }}" class="form-label text-white">Imagen de la película:</label>
        {{ form.imagen }}
      </div>

      <button type="submit" class="btn btn-primary">Guardar cambios</button>
      <br>
      <a href="{% url 'pelicula-list' %}" class="btn btn-secondary mt-3">Volver al Listado de Películas</a>
      <br>
      <br>

      {% if form.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          <strong class="text-white">Por favor, corrija los siguientes errores en el formulario:</strong>
          <ul class="text-white">
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <li>{{ field|title }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

    </form>
   
  </div>
  <br><br>
{% endblock %}
