<!-- templates/pelicula_detail.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4" style="color: white;">Detalle de Película: {{ pelicula.nombre }}</h2>

    <div class="card" style="width: 600px;">
        <div class="card-body">
            {% if pelicula.imagen %}
            <img src="{{ pelicula.imagen.url }}" alt="{{ pelicula.nombre }}" class="img-fluid mb-4"
                style="width: 300px;">
            {% else %}
            <p class="mb-4">No hay imagen disponible.</p>
            {% endif %}
            <p class="card-text"><strong>Sucursal:</strong> {{ pelicula.sucursal }}</p>
            <p class="card-text"><strong>Género:</strong> {{ pelicula.get_genero_display }}</p>
            <p class="card-text"><strong>Clasificación:</strong> {{ pelicula.get_clasificacion_display }}</p>
            <p class="card-text"><strong>Duración:</strong> {{ pelicula.duracion }} minutos</p>
            <p class="card-text"><strong>Reseña:</strong> {{ pelicula.resena }}</p>
            <p class="card-text"><strong>Sala:</strong> {{ pelicula.sala }}</p>
            <p class="card-text"><strong>Fecha de Exhibición:</strong> {{ pelicula.fecha_exhibicion }}</p>
            <p class="card-text"><strong>Hora de Exhibición:</strong> {{ pelicula.hora_exhibicion }}</p>
            <p class="card-text"><strong>Valor del Ticket:</strong> {{ pelicula.valor_ticket }}</p>
        </div>
    </div>

    <div class="container mt-5">
        <a href="{% url 'editar-pelicula' id=pelicula.id %}" class="btn btn-warning">Editar</a>
        <a href="{% url 'eliminar-pelicula' id=pelicula.id %}" class="btn btn-danger"
            onclick="return confirm('¿Estás seguro de que deseas eliminar a {{ pelicula.nombre }}?')">Eliminar</a>
       
        <a href="{% url 'pelicula-list' %}" class="btn btn-primary">Volver al Listado de Películas</a>
    </div>
</div>


{% endblock %}



