{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5" style="background-color: rgb(21, 53, 157); border-radius: 5px;">
    <h2 class="mb-4 text-white">{% if form.instance.id %}Editar{% else %}Crear{% endif %} Serie</h2>

    <!-- Formulario de edición o creación de series -->
    <form method="post" enctype="multipart/form-data" class="my-form">
      {% csrf_token %}

      <!-- Campo: Nombre de la serie -->
      <div class="mb-3">
        <label for="{{ form.nombre.id_for_label }}" class="form-label text-white">Nombre de la serie:</label>
        {{ form.nombre }}
      </div>

      <!-- Campo: Tipo de contenido -->
      <div class="mb-3">
        <label for="{{ form.tipo.id_for_label }}" class="form-label text-white">Tipo de contenido:</label>
        {{ form.tipo }}
      </div>

      <!-- Campo: Género -->
      <div class="mb-3">
        <label for="{{ form.genero.id_for_label }}" class="form-label text-white">Género:</label>
        {{ form.genero }}
      </div>

      <!-- Campo: Clasificación -->
      <div class="mb-3">
        <label for="{{ form.clasificacion.id_for_label }}" class="form-label text-white">Clasificación:</label>
        {{ form.clasificacion }}
      </div>

      <!-- Campo: Año de publicación -->
      <div class="mb-3">
        <label for="{{ form.año.id_for_label }}" class="form-label text-white">Año de publicación:</label>
        {{ form.año }}
      </div>

      <!-- Campo: Número de temporadas -->
      <div class="mb-3">
        <label for="{{ form.temporadas.id_for_label }}" class="form-label text-white">Número de temporadas:</label>
        {{ form.temporadas }}
      </div>

      <!-- Campo: Número de capítulos -->
      <div class="mb-3">
        <label for="{{ form.capitulos.id_for_label }}" class="form-label text-white">Número de capítulos:</label>
        {{ form.capitulos }}
      </div>

      <!-- Campo: Reseña -->
      <div class="mb-3">
        <label for="{{ form.resena.id_for_label }}" class="form-label text-white">Reseña:</label>
        {{ form.resena }}
      </div>

      <!-- Campo: Imagen de la serie (para el carrusel) -->
      <div class="mb-3">
        <label for="{{ form.imagen.id_for_label }}" class="form-label text-white">Imagen de la serie (Carrusel):</label>
        {{ form.imagen }}
      </div>

      <!-- Campo: Imagen de banner -->
      <div class="mb-3">
        <label for="{{ form.imagenbanner.id_for_label }}" class="form-label text-white">Imagen de Banner:</label>
        {{ form.imagenbanner }}
      </div>

      <!-- Campo: Nombre de la imagen (imagenname) -->
      <div class="mb-3">
        <label for="{{ form.imagenname.id_for_label }}" class="form-label text-white">Nombre de la Imagen:</label>
        {{ form.imagenname }}
      </div>

      <!-- Botón de guardar cambios -->
      <button type="submit" class="btn btn-primary">Guardar cambios</button>

      <!-- Botón para volver al listado de series -->
      <a href="{% url 'pagina_principal' %}" class="btn btn-secondary mt-3">Volver al Listado de Series</a>

      <!-- Mensaje de error en caso de que haya errores en el formulario -->
      {% if form.errors %}
        <div class="alert alert-danger mt-3" role="alert">
          <strong class="text-white">Por favor, corrija los siguientes errores en el formulario:</strong>
          <ul class="text-white">
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
                <li>{{ field|title }}: {{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </form>
  </div>
{% endblock %}
